
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Courier New', Courier, monospace;
}
header{
    background: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul>li a {
    text-decoration: none;
}

#navbar{
    background-color: #be3144;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
}
#welcome-section{
    padding:0 0.1rem;
}
ul {
    display:flex;
    justify-content:right;
}
li {
    
    list-style: none;
    padding: 41px;
}


ul li:hover {
    background-color: #45567d;
}

a {
    color: white;
}
#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem; 
}

